/* General Reset */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Hero Section Styling */
header {
    background: url('images/home5.jpg') no-repeat center center/cover;
    color: white;
    height: 500px;
}

.navbar-nav .nav-link:hover {
    
    text-decoration: underline; /* Underline effect */
    transition: color 0.3s ease;
    background-color: #8b0000;
    border-radius: 3px;
}


/* Footer Links */
footer a:hover {
    text-decoration: underline;
}
